body {
  background-color: #f7f7f7;
  font-family: "skolar-sans-latin",sans-serif; }

.container {
  background-color: #fff; }

.navbar .container {
  background-color: inherit; }

.team-members {
  list-style-type: none;
  padding-left: 20px; }
  .team-members li {
    text-decoration: none; }
  .team-members li.captain {
    margin-left: -16px; }
    .team-members li.captain:before {
      font-family: FontAwesome;
      content: '\f006'; }

.team-table .game-name {
  text-align: right;
  padding-right: 30px;
  width: 200px; }

.team-red {
  color: #b91717; }

.team-orange {
  color: #f98126; }

.team-yellow {
  color: #ecd505; }

.team-green {
  color: #22ad0b; }

.team-blue {
  color: #0f76c7; }

.team-purple {
  color: #720fb9; }

.spyro {
  color: #9c27b0 !important; }

.crash {
  color: #ff7f3e !important; }

.mario {
  color: #e43535 !important; }

.rare {
  color: #fdfcd1 !important; }

.spyro-bg {
  background-color: #f4def8 !important; }

.crash-bg {
  background-color: #ffe4d7 !important; }

.mario-bg {
  background-color: #f9d2d2 !important; }

.rare-bg {
  background-color: #fdfcd1 !important; }

.true {
  color: #66a569 !important; }

.false {
  color: #ff0000 !important; }

.neutral {
  color: #aaaaaa !important; }

.true-bg {
  background-color: #cbead4 !important; }

.false-bg {
  background-color: #ffcbcb !important; }

.notice {
  font-style: italic;
  color: #777; }
