body {
  font-family: "skolar-sans-latin", sans-serif;
  background-color: #fdf9f9;
  color: #4f1417;
  line-height: 1.6em;
  font-size: 16px; }

a {
  color: #df8387;
  font-weight: 500; }
  a:hover {
    color: #d55a60; }

nav.navbar {
  background-color: #8c2429;
  border-color: #771f23;
  color: #faeced; }
  nav.navbar .navbar-brand {
    color: #faeced;
    font-size: 20px;
    margin-top: -1px; }
  nav.navbar .navbar-nav,
  nav.navbar .navbar-nav li,
  nav.navbar .navbar-nav li a {
    font-size: 16px;
    color: #faeced; }
  nav.navbar .navbar-nav li:hover {
    background-color: #98272d;
    color: white; }
  nav.navbar .navbar-toggle {
    border-color: #771f23; }
    nav.navbar .navbar-toggle:hover, nav.navbar .navbar-toggle:focus {
      background-color: #771f23; }
  nav.navbar .navbar-collapse {
    border-color: #771f23; }
  nav.navbar + div {
    margin-top: -20px; }

.titlebar {
  padding: 60px 0px;
  background-color: #a0292f;
  color: #faeced;
  font-family: "proxima-nova", sans-serif; }
  .titlebar h1 {
    margin: 0 0 10px -4px;
    font-size: 120px;
    font-weight: 700;
    text-shadow: 6px 4px 1px #a0292f, 14px 6px 1px #771f23; }
  .titlebar p {
    font-size: 24px;
    text-shadow: 4px 3px 1px #a0292f, 6px 4px 1px #771f23; }
    .titlebar p.lead {
      font-size: 36px;
      line-height: 1.3em;
      margin: 0; }
  .titlebar a {
    color: #faeced;
    font-weight: 900; }
  .titlebar .right {
    margin-top: 20px;
    text-align: right; }

.statbar {
  border-bottom: 1px solid #cfc6c6;
  font-family: "proxima-nova", sans-serif; }
  .statbar .stats {
    display: flex;
    justify-content: space-around;
    padding: 20px 10px; }
    .statbar .stats .stat {
      font-size: 22px;
      text-align: center; }
  .statbar span.fa {
    margin: 0 6px; }

.page-header {
  font-family: "proxima-nova", sans-serif; }
  .page-header h1 {
    font-weight: 700; }

ul.schedule {
  list-style-type: none;
  font-size: 20px; }
  ul.schedule .event {
    text-decoration: none;
    margin-bottom: 8px; }
    ul.schedule .event .event-date {
      display: inline-block;
      width: 70px;
      margin-right: 20px;
      text-align: right;
      color: #df8387;
      font-family: "proxima-nova", sans-serif;
      font-weight: 700; }
    ul.schedule .event.past {
      color: #cfc6c6; }
      ul.schedule .event.past .event-date {
        color: #cfc6c6; }

footer {
  margin-top: 30px;
  padding: 18px 0;
  background-color: #cfc6c6; }
  footer p, footer ul {
    margin: 0; }
  footer .pull-right {
    text-align: right; }
  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    footer ul li {
      text-decoration: none;
      display: inline-block;
      margin-right: 20px; }

.team-members {
  list-style-type: none;
  padding-left: 20px; }
  .team-members li {
    text-decoration: none; }
  .team-members li.captain {
    margin-left: -19px; }
    .team-members li.captain:before {
      font-family: FontAwesome;
      content: '\f006'; }

.team-table .game-name {
  text-align: right;
  padding-right: 30px;
  width: 200px; }

.team-red {
  color: #b91717; }

.team-orange {
  color: #f98126; }

.team-yellow {
  color: #ecd505; }

.team-green {
  color: #22ad0b; }

.team-blue {
  color: #0f76c7; }

.team-purple {
  color: #720fb9; }

.spyro {
  color: #9c27b0 !important; }

.crash {
  color: #ff7f3e !important; }

.mario {
  color: #e43535 !important; }

.rare {
  color: #fdfcd1 !important; }

.spyro-bg {
  background-color: #f4def8 !important; }

.crash-bg {
  background-color: #ffe4d7 !important; }

.mario-bg {
  background-color: #f9d2d2 !important; }

.rare-bg {
  background-color: #fdfcd1 !important; }

.true {
  color: #66a569 !important; }

.false {
  color: #ff0000 !important; }

.neutral {
  color: #aaaaaa !important; }

.true-bg {
  background-color: #cbead4 !important; }

.false-bg {
  background-color: #ffcbcb !important; }

.notice {
  font-style: italic;
  color: #777; }
