DATABASE_URL=postgres://mcsn@localhost/mcsn_api
TWITCH_CLIENT_ID=keyfromtwitch
ASSETS_ENDPOINT=https://nyc3.digitaloceanspaces.com
ASSETS_REGION=nyc3
ASSETS_KEY=keyfromspaces
ASSETS_SECRET=secretfromspaces
ANALYTICS_ENDPOINT=https://10.0.0.1:3000/track
GIANTBOMB_API_KEY=keyfromgiantbomb
PASSWORD_RESET_WEBHOOK_URL=discordwebhookurl
