# Caching
.sass-cache
.cache
.shards
.DS_Store

# Config / Security
/repo_config.yaml
.env
ssl/

# Crystal deps
/lib/
/dev/

# Asset deps
node_modules/
public/
webpack-stats.json

# Database dump files from heroku
*.dump

# Executables
bin/
/fifteenfortyfive
/sentry
/*.dwarf
