[Unit]
Description=The MCSN API

[Service]
User=deploy
WorkingDirectory=/home/deploy/build/mcsn/
ExecStart=./cli
Type=simple
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=mcsn_api

[Install]
WantedBy=default.target
