DATABASE_URL=postgres://user:password@host/db_name
PORT=4001
TWITCH_CLIENT_ID=keyfromtwitch
ASSETS_ENDPOINT=https://nyc3.digitaloceanspaces.com
ASSETS_REGION=nyc3
ASSETS_KEY=keyfromspaces
ASSETS_SECRET=secretfromspaces
ANALYTICS_ENDPOINT=https://10.0.0.1:3000/track
