# Caching
.sass-cache
.cache
.shards
.DS_Store

# Config
/repo_config.yaml
.env
/fifteenfortyfive
/fifteenfortyfive.dwarf

# Crystal deps
/lib/
/dev/
/sentry
/sentry.dwarf

# Asset deps
node_modules/

# Database dump files from heroku
*.dump
