[Unit]
Description=The 1545 Web Services

[Service]
User=deploy
WorkingDirectory=/home/deploy/build/fifteenfortyfive/
ExecStart=/bin/bash ./scripts/deploy_systemctl.sh
Type=simple
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=1545

[Install]
WantedBy=default.target
