!!!
%html
  %head
    %script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
    %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    %script(src="https://use.typekit.net/abb5hmw.js")
    :javascript
      try{Typekit.load({ async: true });}catch(e){}

    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    %link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous")
    %link(rel="stylesheet" href="css/main.css?")


  %body.landing-page
    %nav.navbar.navbar-inverse.navbar-static-top
      .container
        .navbar-header
          %a.navbar-brand(href="/") The 1545

        %ul.nav.navbar-nav
          %li
            %a(href="/teams.html") Teams
          %li
            %a(href="/rules.html") Rules

    .titlebar
      .container
        .row
          .col-md-6.col-md-offset-1
            %h1 The 1545


          .col-md-4.right
            %p.lead
              July 14th - 17th at
              %br
              %a(href="https://twitch.tv/1545race") twitch.tv/1545race


    .statbar
      .container
        .row
          .stats.col-md-10.col-md-offset-1
            .stat
              %span.fa.fa-users
              53 runners
            .stat
              %span.fa.fa-flag
              6 teams
            .stat
              %span.fa.fa-clock-o
              3 days
            .stat
              %span.fa.fa-gamepad
              13 games


    .container
      .row
        .col-md-4.col-md-offset-1
          .page-header
            %h1 Schedule

          :ruby
            dates = {
              Date.new(2017,02,01) => 'Event announced',
              Date.new(2017,02,03) => 'Signups open',
              Date.new(2017,03,01) => 'Signups close',
              Date.new(2017,03,19) => 'Teams released',
              Date.new(2017,07,10) => 'Schedules posted',
              Date.new(2017,07,14) => 'Race begins',
              Date.new(2017,07,17) => 'Race ends',
              Date.new(2017,07,18) => 'Results posted'
            }

          %ul.schedule
            - dates.each do |date, event|
              %li.event{class: date < Date.today ? 'past' : 'future'}
                %span.event-date= date.strftime('%b %d')
                %span.event-name= event


        .col-md-6
          .page-header
            %h1 The Relay

          %p.lead The 1545 is a massive speedrunning relay race where teams of runners will complete all of the games in the Super Mario 602, the Rareware 301%, and the Sprashfecta, all over the course of 50+ hours.

          %p The 1545 is likely the largest single race in speedrunning to date, with 53 runners and a total gameplay time of nearly 340 hours!

          %p
            The 1545 will take place starting on July 14th at 5pm EST at
            %a(href="https://twitch.tv/1545race") twitch.tv/1545race
            and will run through the 17th, until the last team has finished.

          %p The 1545 is not a competitive event. Rather than trying to build the fastest teams possible, we're hoping to see a close race across the board. This not only makes for a more interesting finish, but also allows runners of different skill levels to participate without necessarily coming in last.


          .page-header
            %h1 Purpose

          %p Community is a large part of speedrunning, influencing not only how enjoyable it is now, but also how well it can continue into the future.

          %p As with any community, though, smaller groups naturally form around various topics or franchises. And as these groups grow together, they inevitably start to separate themselves from other groups.

          %p The goal of the 1545 is to be an event that crosses these group boundaries and helps create connections between them that will hopefully continue past the event.
