!!!
%html
  %head
    %meta(name="viewport" content="width=device-width, initial-scale=1")

    %script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
    %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    %script(src="https://use.typekit.net/abb5hmw.js")
    :javascript
      try{Typekit.load({ async: true });}catch(e){}

    %link(rel="stylesheet" href="css/bootstrap.min.css")
    %link(rel="stylesheet" href="css/main.css?")

    %script(src="js/horsey.js")
    %script(src="js/dragula.js")
    %script(defer src="https://use.fontawesome.com/releases/v5.0.3/js/all.js")


  %body
    %nav.navbar.navbar-inverse.navbar-static-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#navbar-collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand(href="/") The 1545

        .collapse.navbar-collapse#navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a(href="/teams.html") Teams
            %li
              %a(href="/results.html") Results
            %li
              %a(href="/rules.html") Rules

          %ul.nav.navbar-nav.navbar-right
            %li
              %a(href="https://discord.gg/ZYfBpdk" target="_blank") Discord
            %li
              %a(href="https://twitch.tv/1545race" target="_blank") Twitch
            %li
              %a(href="https://twitter.com/1545race" target="_blank") Twitter


    .container
      .row
        .col-sm-10
          .page-header
            %h1 Signup!

          %p Use the form below to sign up for the 1545! Select your games from the column on the right, then add your PB and estimate for each one.

          %p
            %strong Note on estimates:

            The 1545 is not like a normal speedrunning marathon. We aren't interested in your worst-case estimate. The best way to get a good estimate for us is to do 3-5 runs of your game and take the average time you get. While this may not be entirely accurate, it gives us a good idea of consistency relative to your PB.


      .row
        .signup
          .signup__account-info
            %h3 Account Setup

            %p
              Starting with this event (summer 2018), we'll be creating profiles for runners, volunteers, and other users. These profiles will be used to track your submissions and to create a profile page to display during the event. You'll also be able to log in and edit your information (including submissions, PBs, and estimates) later on.

            %p
              Since this is the first event where we're using accounts, everyone will need to sign up for a new account.

              %em
                We promise won't send you any annoying emails or other notifications. We don't even ask for your email address :)

            .signup-field.signup-field--full-width.signup__account-info__username
              %label.signup__game__label.signup__game__label--large Username
              %input.signup__game__input(placeholder="faulty")

            .signup-field.signup-field--full-width.signup__runner-info__password
              %label.signup__game__label.signup__game__label--large Password
              %input.signup__game__input(type="password")

          .signup__runner-info
            %h3 Runner Info

            %p
              We'll display your names here on the 1545 site and on the stat stream so people can find you. If you've provided your Twitter name, we'll tag you in a posts relating to your runs during the event.

            %p
              Discord is required for participation in the event. If you do not wish to give your Twitch or Twitter name, leave the field blank.


            .signup-field.signup-field--full-width.signup__runner-info__discord
              %label.signup__game__label.signup__game__label--large Discord
              %input.signup__game__input(placeholder="faulty#0000")

            .signup-field.signup-field--full-width.signup__runner-info__twitch
              %label.signup__game__label.signup__game__label--large Twitch
              %input.signup__game__input(placeholder="amfaulty")

            .signup-field.signup-field--full-width.signup__runner-info__twitter
              %label.signup__game__label.signup__game__label--large Twitter
              %input.signup__game__input(placeholder="@amfaulty")

            .signup-field.signup-field--full-width.signup__runner-info__timezone
              %label.signup__game__label.signup__game__label--large Timezone
              %input.signup__game__input(placeholder="America/New York")

          .signup__team-requests
            %h3 Team Requests

            %p
              If there are any runners you would specifically like to be teamed with, list their names in the "Pair" field. If you would specifically like to avoid being teamed with, list their names in the "Avoid" field.

              %em This information will be kept private. Only event organizers will see your submissions.

            .signup-field.signup-field--full-width.signup__team-requests__pair
              %label.signup__game__label.signup__game__label--large Team with
              %input.signup__game__input(placeholder="SHM, HolySanctum")

            .signup-field.signup-field--full-width.signup__team-requests__avoid
              %label.signup__game__label.signup__game__label--large Avoid
              %input.signup__game__input(placeholder="Someone random, i don't know")

          .signup__game-selection
            %h3 Game Submissions

            %p
              Let us know which games you'd like to run for the event. Drag the cards to re-order the games by your preference in running them, with your most preferred game at the top of the list.

            %p
              %em Only list games that you will be willing to run. While you may not end up running all of the games you submit, we cannot guarantee which runs you will end up with.

            .signup__selected-games
              .signup__game.signup__game--blank
                .signup__game__boxart
                .signup__game__content
                  .signup__game__header
                    .signup__game__name
                    .signup__game__category
                    .signup__game__button
                      %span.fas.fa-times
                  .signup-field.signup-field--full-width.signup__game__pb
                    %label.signup__game__label PB
                    %input.signup__game__input(placeholder="00:00:00")
                  .signup-field.signup-field--full-width.signup__game__estimate
                    %label.signup__game__label EST
                    %input.signup__game__input(placeholder="00:00:00")

            .signup__find-game
              %input.signup__find-game__input(placeholder="Game name...")
              %a.signup__find-game__add-button Add Game

            .vertical-space-u2

            %p
              If you have any limitations on how many games you are willing to run, or how much time you are willing to spend on runs during the event, use these fields to let us know.

            %p
              If you are okay with running all of the games you submitted, or have no time limits, leave these fields blank.

            .signup-field.signup-field--full-width.signup__runner-info__max-games
              %label.signup__game__label.signup__game__label--large Max games
              %input.signup__game__input(placeholder="3")

            .signup-field.signup-field--full-width.signup__runner-info__max-time
              %label.signup__game__label.signup__game__label--large Max time
              %input.signup__game__input(placeholder="00:00:00")

          .signup__submission
            %h3 Submission

            %p
              If you are happy with all of the information you've entered above. Go ahead and hit the submit button!

            %p
              Don't worry if you aren't 100% confident about your times or the games you are submitting, you'll be able to edit them after submitting.

            %a.signup__submit
              Submit


    %script(src="js/signup.js")


    %footer
      .container
        .row
          .col-sm-10
            .pull-right
              %p &copy; 2018 fifteenfortyfive.org

            %ul
              %li
                %a(href="https://discord.gg/ZYfBpdk" target="_blank") Discord
              %li
                %a(href="https://twitch.tv/1545race" target="_blank") Twitch
              %li
                %a(href="https://twitter.com/1545race" target="_blank") Twitter
