$avatar-border-radius: $radius-large !default;
$avatar-border: 5px solid $white !default;
$avatar-border-color: $white !default;
$avatar-box-shadow: $box-shadow !default;

.avatar {
  border-radius: $avatar-border-radius;
  box-shadow: $avatar-box-shadow;

  &.avatar--navbar {
    margin-right: 0.75rem;
    vertical-align: bottom;
  }

  &.is-bordered {
    border: $avatar-border;
  }

  &.is-bordered--outset {
    box-sizing: content-box;
    border: $avatar-border;
  }
}
