p.navbar-text,
.navbar-inverse .navbar-text {
  display: inline-block;
  margin: 13px 6px;
  color: #fcfcfd; }

.navbar-link--bright {
  color: #fcfcfd; }

nav.navbar a.navbar-brand {
  font-size: 24px; }

.navbar-header {
  float: left; }

.container .navbar-right {
  float: right;
  margin-right: 0; }

.vertical-space-u2 {
  height: 24px; }

.sey-container {
  display: none;
  position: absolute;
  top: 43px;
  width: 100%;
  background-color: #fcfcfd;
  border: 1px solid #a4a4a8;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: none;
  color: #323234;
  transition: left 0.1s ease-in-out;
  z-index: 1; }

.sey-list {
  padding: 0;
  margin: 0;
  list-style-type: none; }

.sey-show {
  display: block; }

.sey-hide {
  display: none; }

.sey-empty {
  cursor: default;
  padding: 7px; }

.sey-item {
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.sey-item:hover,
.sey-selected {
  background-color: #fcfcfd;
  color: #323234; }

.sey-char-highlight {
  font-weight: bold; }

.sey-category-id {
  background-color: #eee;
  color: #aaa;
  text-align: right;
  text-transform: capitalize;
  font-style: italic;
  font-size: 12px;
  padding: 7px; }

.autocomplete__boxart {
  width: 60px; }

.autocomplete__content {
  padding: 12px; }

.account-box {
  padding: 12px; }

.account-box__name {
  word-break: break-all;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 12px; }

.account-box__social {
  font-size: 1.2rem;
  margin: 4px 0; }

.account-box__social__icon {
  margin-right: 4px; }

nav.navbar {
  background-color: #262627;
  border-color: #19191a;
  color: #fcfcfd; }
  nav.navbar .navbar-brand {
    color: #fcfcfd;
    font-size: 20px;
    margin-top: -1px; }
  nav.navbar .navbar-nav,
  nav.navbar .navbar-nav li,
  nav.navbar .navbar-nav li a {
    font-size: 16px;
    color: #fcfcfd; }
  nav.navbar .navbar-nav li:hover {
    background-color: #2d2d2f;
    color: white; }
  nav.navbar .navbar-toggle {
    border-color: #19191a; }
    nav.navbar .navbar-toggle:hover, nav.navbar .navbar-toggle:focus {
      background-color: #19191a; }
  nav.navbar .navbar-collapse {
    border-color: #19191a; }
  nav.navbar + div {
    margin-top: -20px; }

.titlebar {
  padding: 60px 0px;
  background-color: #323234;
  color: #fcfcfd;
  font-family: "proxima-nova", sans-serif; }
  .titlebar h1 {
    margin: 0 0 10px -4px;
    font-size: 120px;
    font-weight: 700;
    text-shadow: 6px 4px 1px #323234, 14px 6px 1px #19191a; }
  .titlebar p {
    font-size: 24px;
    text-shadow: 4px 3px 1px #323234, 6px 4px 1px #19191a; }
    .titlebar p.lead {
      font-size: 36px;
      line-height: 1.3em;
      margin: 0; }
  .titlebar a {
    color: #fcfcfd;
    font-weight: 900; }
  .titlebar .right {
    margin-top: 20px;
    text-align: right; }

.statbar {
  border-bottom: 1px solid #323234;
  font-family: "proxima-nova", sans-serif; }
  .statbar .stats {
    display: flex;
    justify-content: space-around;
    padding: 20px 10px; }
    .statbar .stats .stat {
      font-size: 22px;
      text-align: center; }
  .statbar span.fa {
    margin: 0 6px; }

@media (max-width: 991px) {
  .titlebar h1 {
    font-size: 90px;
    text-shadow: 3px 2px 1px #323234, 8px 4px 1px #19191a; }
  .titlebar p.lead {
    font-size: 30px;
    text-shadow: 2px 1px 1px #323234, 4px 2px 1px #19191a; }
  .titlebar .right {
    margin-top: 11px; }

  ul.schedule {
    padding-left: 10px; } }
@media (max-width: 767px) {
  .titlebar .right {
    text-align: left; }

  .schedule-box {
    display: flex;
    justify-content: space-around; }
    .schedule-box ul.schedule {
      margin-left: -20px; } }
@media (max-width: 479px) {
  .titlebar h1 {
    font-size: 60px; }
  .titlebar p.lead {
    font-size: 20px; }
  .titlebar .right {
    margin-top: 11px; } }
.team-red {
  color: #b91717; }

.team-orange {
  color: #f98126; }

.team-yellow {
  color: #ecd505; }

.team-green {
  color: #22ad0b; }

.team-blue {
  color: #0f76c7; }

.team-purple {
  color: #720fb9; }

.true {
  color: #66a569 !important; }

.false {
  color: #ff0000 !important; }

.neutral {
  color: #aaaaaa !important; }

.true-bg {
  background-color: #cbead4 !important; }

.false-bg {
  background-color: #ffcbcb !important; }

.team {
  margin: 20px 0; }
  .team .team-members {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; }
    .team .team-members .member {
      padding: 10px;
      flex: 0 0 20%; }
      .team .team-members .member .member-name {
        font-weight: 700; }
      .team .team-members .member .member-games {
        font-size: 14px; }
      .team .team-members .member.captain .member-name:after {
        font-family: FontAwesome;
        content: '\f006';
        margin-left: 4px; }

@media (max-width: 767px) {
  .team .team-members .member {
    flex: 0 0 25%; } }
@media (max-width: 611px) {
  .team .team-members .member {
    flex: 0 0 33%; } }
@media (max-width: 479px) {
  .team .team-members .member {
    flex: 0 0 50%; } }
.spyro {
  background-color: #f3e0f7 !important; }

.crash {
  background-color: #fbdcc5 !important; }

.mario {
  background-color: #f7d8d8 !important; }

.rare {
  background-color: #fdfde2 !important; }

.run-schedule {
  width: 100%;
  display: flex;
  line-height: 1.1em; }
  .run-schedule .timeline {
    flex: 0 0 80px;
    margin-top: 50px;
    margin-right: 4px;
    text-align: right; }
    .run-schedule .timeline .time {
      grid-row: span 12;
      font-size: 0.8em; }
      .run-schedule .timeline .time .hours {
        display: block; }
      .run-schedule .timeline .time .date {
        color: #777; }
  .run-schedule .schedule-column {
    display: grid;
    grid-auto-rows: 2.5px;
    grid-gap: 2px; }
    .run-schedule .schedule-column .schedule-element {
      padding: 8px;
      border: 1px solid #f7f7f7; }
      .run-schedule .schedule-column .schedule-element .game-name {
        color: #821b1b; }
      .run-schedule .schedule-column .schedule-element .runner-name {
        color: #555; }
      .run-schedule .schedule-column .schedule-element .estimate {
        display: block;
        color: #ea9999; }
  .run-schedule .team {
    flex: 1 1 0;
    margin: 0 1px; }
    .run-schedule .team .name {
      padding: 8px;
      height: 50px; }

.form {
  margin: auto;
  border-radius: 4px;
  margin-top: 6px; }

.form__submit {
  display: block;
  width: 100%;
  padding: 12px;
  margin-top: 36px;
  text-align: center;
  font-size: 1.6em;
  border: 1px solid #c02b2b;
  border-radius: 4px;
  background-color: #D64848;
  color: #fcfcfd; }
  .form__submit:hover, .form__submit:active {
    background-color: #c02b2b;
    color: #dddde9;
    text-decoration: none;
    cursor: pointer; }

.form__field {
  width: 100%;
  padding: 4px 8px;
  margin: 8px 0;
  display: flex;
  background-color: #fbefef;
  border-radius: 4px;
  border: 1px solid #D64848;
  border-left: none;
  border-right: none;
  border-radius: 0;
  line-height: 1.4em; }
  .form__field:last-child {
    margin-bottom: 0; }
  .form__field--checkbox {
    padding-left: 64px;
    line-height: 1em; }
    .form__field--checkbox .form__label {
      display: block;
      vertical-align: text-bottom;
      padding-top: 2px; }
    .form__field--checkbox input[type="checkbox"] {
      margin-right: 12px;
      height: 26px;
      vertical-align: text-bottom; }

.form__input {
  flex: 1 1 auto;
  background-color: inherit;
  border: none;
  padding: 0;
  margin-left: 12px;
  height: 1.4em;
  min-height: 1.4em;
  min-width: 20px; }
  .form__input:focus {
    outline: none; }
  .form__input::placeholder {
    color: #b3b3b3; }

textarea.form__input {
  height: 3em; }

.form__label {
  flex: 0 0 55px;
  text-align: right;
  font-weight: 400;
  margin: 0;
  padding-right: 8px;
  padding-bottom: 1px;
  border-right: 1px solid #D64848;
  color: #D64848; }
  .form__label--large {
    flex: 0 0 120px; }
  .form__label--checkbox {
    flex: 1 0 0;
    border: none;
    width: 100%;
    text-align: left;
    margin-top: -5px; }

.form__button {
  display: block;
  width: 100%;
  padding: 8px 12px;
  margin-top: 12px;
  border-radius: 4px;
  border: 1px solid #D64848;
  color: #D64848;
  background: inherit;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none; }
  .form__button:focus {
    outline: none;
    text-decoration: none; }
  .form__button:hover {
    background-color: #fbefef;
    text-decoration: none; }
  .form__button:active {
    background-color: #f7dada;
    text-decoration: none; }

.hero-box__container {
  display: flex;
  margin: 24px 0; }

.hero-box {
  flex: 1 1 0;
  min-height: 160px;
  padding: 24px;
  margin: 0 12px;
  border: 1px solid #a4a4a8;
  border-radius: 4px;
  font-size: 1.2em; }

.hero-box__title {
  font-size: 1.4em; }

.hero-box--icon .hero-box__icon {
  display: block;
  margin: 36px auto;
  font-size: 3em;
  color: #22ad0b; }

.hero-box--list {
  padding: 0; }
  .hero-box--list .hero-box__title {
    padding: 24px 24px 0 24px; }

.hero-box__list {
  margin-top: 24px; }

.hero-box__list__element {
  width: 100%;
  margin: 0px 0;
  display: flex;
  align-items: center;
  border-top: 1px solid #a4a4a8; }

.hero-box__list__element__boxart {
  flex: 0 0 60px; }
  .hero-box__list__element__boxart img {
    width: 60px; }

.hero-box__list__element__name {
  padding-left: 12px;
  padding-right: 24px; }

.notif-banner {
  display: block;
  width: 100%;
  height: 56px;
  padding: 12px;
  padding-left: 64px;
  border-radius: 4px;
  font-size: 1.6rem;
  position: relative; }
  .notif-banner--success {
    background-color: #5a9051;
    border: 1px solid #4c7944;
    color: #fcfcfd; }

.notif-banner__icon {
  font-size: 30px;
  position: absolute;
  width: 50px;
  top: 10px;
  left: 10px; }

.signup__game {
  display: flex;
  margin: 12px 0;
  border-radius: 4px;
  border: 1px solid #c02b2b;
  background-color: #fcfcfd;
  overflow: hidden; }
  .signup__game--blank {
    display: none; }

.signup__game__boxart {
  flex: 0 0 96px;
  height: 128px; }
  .signup__game__boxart img {
    width: 100%;
    z-index: -1;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none; }

.signup__game__content {
  flex: 1 1 auto;
  border-left: 1px solid #c02b2b; }

.signup__game__header {
  display: flex;
  padding: 8px 12px 0 12px;
  color: #323234; }

.signup__game__name {
  flex: 1 1 auto;
  font-size: 1.2em;
  font-weight: 700; }

.signup__game__category {
  flex: 1 1 70px;
  text-align: right; }

.signup__game__button {
  flex: 0 0 30px;
  text-align: center;
  margin-left: 20px;
  cursor: pointer; }

.signup__find-game {
  display: flex;
  position: relative;
  font-size: 1.2em; }

.signup__find-game__input {
  flex: 1 0 240px;
  border: 1px solid #c02b2b;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 8px 12px; }
  .signup__find-game__input:focus {
    outline: none; }

.signup__find-game__add-button {
  flex: 0 0 auto;
  border: 1px solid #c02b2b;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 8px 12px;
  text-align: center; }
  .signup__find-game__add-button:hover, .signup__find-game__add-button:active {
    text-decoration: none;
    background-color: #fbefef;
    cursor: pointer; }

@media only screen and (max-width: 640px) {
  .signup__game,
  .signup__submit {
    border-left: none;
    border-right: none;
    border-radius: 0; }

  .signup__find-game {
    width: 100%; }

  .signup__find-game__input {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

  .signup__find-game__add-button {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; } }
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80); }

.gu-hide {
  display: none !important; }

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important; }

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20); }

.runner-submissions {
  display: block;
  width: 100%;
  margin-bottom: 24px; }

.runner-submission {
  padding: 12px;
  border-bottom: 1px solid #b3b3b3; }
  .runner-submission:last-child {
    border-bottom: none; }
  .runner-submission:nth-child(even) {
    background-color: #f9f9fb; }

.runner-submission__name {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 12px; }

.runner-submission__games {
  list-style-type: none;
  padding-left: 0; }

.runner-submission__game {
  text-decoration: none;
  word-break: keep-all; }

.submission--revoked {
  background-color: #f3f3f7;
  color: #b3b3b3; }

.runner-submissions__table-container {
  width: 100%;
  overflow-x: scroll; }

table.runner-submissions__table {
  width: 100vw; }
  table.runner-submissions__table thead th, table.runner-submissions__table tbody td {
    border-top-color: #323234;
    border-bottom-color: #323234;
    border-left: 1px solid #323234;
    border-right: 1px solid #323234; }
  table.runner-submissions__table .runner-cell .runner-submission__detail {
    font-size: 1rem;
    opacity: 0;
    position: absolute;
    background-color: #fcfcfd;
    width: 400px;
    padding: 12px;
    border: 1px solid #323234;
    box-shadow: 2px 2px 5px #323234;
    transition: all 0.1s linear;
    z-index: 100; }
  table.runner-submissions__table .runner-cell:hover {
    background-color: #ededf3; }
    table.runner-submissions__table .runner-cell:hover .runner-submission__detail {
      display: block;
      opacity: 1; }
  table.runner-submissions__table .sm64, table.runner-submissions__table .sms, table.runner-submissions__table .smg1, table.runner-submissions__table .smg2 {
    background-color: #ffc5c5; }
  table.runner-submissions__table .kazooie, table.runner-submissions__table .tooie, table.runner-submissions__table .dk64 {
    background-color: #fff8be; }
  table.runner-submissions__table .spyro1, table.runner-submissions__table .spyro2, table.runner-submissions__table .spyro3 {
    background-color: #f7c6ff; }
  table.runner-submissions__table .crash1, table.runner-submissions__table .crash2, table.runner-submissions__table .crash3 {
    background-color: #ffdba6; }

html {
  font-size: 14px; }

body {
  font-family: "skolar-sans-latin", sans-serif;
  background-color: #fcfcfd;
  color: #323234;
  line-height: 1.6em;
  font-size: 16px; }

p {
  margin-bottom: 12px; }

a {
  color: #D64848;
  font-weight: 500; }
  a:hover {
    color: #c02b2b; }

.page-header {
  font-family: "proxima-nova", sans-serif;
  border-color: #D64848; }
  .page-header h1 {
    font-weight: 700;
    color: #D64848; }

h2, h3, h4 {
  font-weight: 700; }

ul.schedule {
  list-style-type: none;
  font-size: 20px; }
  ul.schedule .event {
    text-decoration: none;
    margin-bottom: 8px; }
    ul.schedule .event .event-date {
      display: inline-block;
      width: 70px;
      margin-right: 20px;
      text-align: right;
      color: #7d7d82;
      font-family: "proxima-nova", sans-serif;
      font-weight: 700; }
    ul.schedule .event.past {
      color: #b3b3b3; }
      ul.schedule .event.past .event-date {
        color: #b3b3b3; }

footer {
  margin-top: 30px;
  padding: 18px 0;
  background-color: #d8d8d9; }
  footer p, footer ul {
    margin: 0; }
  footer .pull-right {
    text-align: right; }
  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    footer ul li {
      text-decoration: none;
      display: inline-block;
      margin-right: 20px; }

.banner {
  margin-top: 30px; }

.rankings {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .rankings .team {
    margin: 5px 0;
    font-size: 1.2em; }
    .rankings .team .runners {
      display: block;
      font-size: 0.7em; }

.notice {
  font-style: italic;
  color: #777; }
