$field-oneline-border-color: $danger !default;
$field-oneline-border: 1px solid $field-oneline-border-color;
$field-oneline-background-color: lighten($danger, 40%) !default;
$field-oneline-background-color--darker: darken($field-oneline-background-color, 4%) !default;
$field-oneline-color: $danger !default;
$field-oneline-prefix-color: $grey-light !default;
$field-oneline-font-size: 1rem;
$field-oneline-label-width: 10ch;
