@import "./_form_vars";

.checkbox {
  display: flex;
  padding: 0.5em 1em;
  border-radius: 5px;
  margin-left: 1em;
  user-select: none;
  transition: background 0.1s ease-out;

  &:hover {
    background-color: $field-background-color--darker;
  }

  &, label {
    cursor: pointer;
  }


  &__check {
    display: inline-block;
    margin-right: 0.75em;
    color: $field-color;

    .hidden {
      display: none;
    }
  }
}


