$image-upload-border: 5px solid $white;
$image-upload-box-shadow: $box-shadow !default;

.image-upload {
  box-shadow: $image-upload-box-shadow;
  border-radius: $radius;
  display: flex;

  .image-upload-label {
    display: flex;
    align-items: center;
    position: relative;
    overflow: visible;

    .image-upload-input {
      display: none;
    }

    .image-upload-hover {
      position: absolute;
      height: 100%;
      width: 100%;
      padding: 1rem;
      visibility: hidden;
      background-color: rgba(0, 0, 0, 0.7);
      color: $white;
    }

    &:hover {
      cursor: pointer;

      .image-upload-hover {
        visibility: visible;
      }
    }
  }

  figure.image {
    margin: 0;
  }

  &.is-bordered {
    border: $image-upload-border;
  }
}
