{% extends "layouts/main.html.j2" %}

{% block main %}
  <div class="container">
    <main class="content">
      <section class="section">
        <h1 class="title">2019 Event Calendar</h1>

        {% for event in events %}
          {% set start_day = event.start_time.day %}
          {% set end_day   = event.end_time.day %}

          <div class="event">
            <div class="event-datetime">
              <p class="event-datetime-month">{{ event.start_time | strftime("%b") }}</p>
              {% if start_day == end_day %}
                <p class="event-datetime-day">{{ event.start_time.day }}</p>
              {% else %}
                <p class="event-datetime-day">{{ event.start_time.day }}-{{event.end_time.day }}</p>
              {% endif %}
            </div>

            <div class="event-divider"></div>

            <div class="event-body">
              <p><a class="title has-text-danger is-4" href="/events/{{event.id}}">{{event.name}}</a></p>
              <p>{{event.description}}</p>
            </div>
          </div>
        {% endfor %}
      </section>
    </main>
  </div>
{% endblock %}
