{% extends "layouts/main.html.j2" %}

{% block title %}
  {{ event.name }} | The 1545
{% endblock %}

{% block main %}
  <div class="container">
    <main class="content">
      <section class="section">

        <div class="columns is-multiline">
          <div class="column is-12">
            <h1 class="title">{{event.name}}</h1>
            <span class="is-size-5">{{event.summary | safe}}</span>
          </div>

          <div class="column is-5 is-4-desktop is-3-fullhd">
            <div class="card">
              <div class="card-content">
                {% if event.game_id %}
                  <p>
                    <span class="info-header">Game</span>
                    <br/>
                    {{ event.game.name }}
                  </p>
                  <p>
                    <span class="info-header">Category</span>
                    <br/>
                    {{ event.category | d('Any Category') }}
                  </p>
                {% endif %}
                {% if event.signups_open_time %}
                  <p>
                    <span class="info-header">Signups Open</span>
                    <br/>
                    <span class="js-date-string js-localized">
                      {{ event.signups_open_time | strftime("%s", default="Not Set") }}
                    </span>
                  </p>
                {% endif %}
                {% if event.signups_closed_time %}
                <p>
                  <span class="info-header">Signups Close</span>
                  <br/>
                  <span class="js-date-string js-localized">
                    {{ event.signups_closed_time | strftime("%s", default="Not Set") }}
                  </span>
                </p>
                {% endif %}
                {% if event.runners_announced_time %}
                <p>
                  <span class="info-header">Runners Announced</span>
                  <br/>
                  <span class="js-date-string js-localized">
                    {{ event.runners_announced_time | strftime("%s", default="Not Set") }}
                  </span>
                </p>
                {% endif %}
                <p>
                  <span class="info-header">Event Starts</span>
                  <br/>
                  <span class="js-date-string js-localized">
                    {{ event.start_time | strftime("%s", default="Not Set") }}
                  </span>
                  {% if event.start_time_is_estimate %}
                    (estimated)
                  {% endif %}
                </p>
                <p>
                  <span class="info-header">Event Ends</span>
                  <br/>
                  <span class="js-date-string js-localized">
                    {{ event.end_time | strftime("%s", default="Not Set") }}
                  </span>
                  {% if event.end_time_is_estimate %}
                    (estimated)
                  {% endif %}
                </p>
              </div>
            </div>

            {% if event.state == "signups open" %}
              <div class="buttons has-margin-top-md">
                <a class="button is-danger is-fullwidth" href="/events/{{event.id}}/submit">Submit a Run</a>
              </div>
            {% elif event.state == "runners announced" %}
              <div class="card has-margin-top-lg">
                <div class="card-content">
                  <h1 class="title is-4">Runners</h1>

                  {% for submission in accepted_submissions %}
                    <div class="media">
                      <div class="media-left">
                        <figure class="image is-48x48 is-square is-marginless">
                          <img class="avatar" src="{{ conn.constants.assets_url }}/{{ submission.account.avatar_hash }}">
                        </figure>
                      </div>
                      <div class="media-content">
                        <p class="title is-6 has-margin-top-xxs has-margin-bottom-none">
                          {{submission.account.username}}
                        </p>
                        <p class="is-6 has-text-grey has-margin-top-none">
                          <span>PB: {{submission.pb_seconds | duration}}</span>
                        </p>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </div>

          <div class="column is-7 is-8-desktop is-9-fullhd">
            {% if event.details != "" %}
              <h1 class="title">Details</h1>
              {{event.details | safe}}
            {% endif %}
            {% if event.rules != "" %}
              <h1 class="title">Rules</h1>
              {{event.rules | safe}}
            {% endif %}
          </div>
        </div>
      </section>
    </main>
  </div>
{% endblock %}
