{% extends "layouts/main.html.j2" %}

{% block title %}
  {{ event.name }} | The 1545
{% endblock %}

{% block main %}
  <div class="container">
    <main class="content">
      <section class="section">
        <div class="columns">
          <div class="column is-7 is-8-desktop">
            <h1 class="title">{{event.name}}</h1>
            {{event.summary | safe}}

            <h1 class="title">Details</h1>
            {{event.details | safe}}

            <h1 class="title">Rules</h1>
            {{event.rules | safe}}
          </div>

          <div class="column is-5 is-4-desktop">
            <div class="card">
              <div class="card-header">
                <p class="card-header-title has-text-danger">
                  Important Info
                </p>
              </div>

              <div class="card-content">
                <p>
                  <small class="is-uppercase has-text-weight-bold has-text-grey-light is-small">Signups Open</small>
                  <br/>
                  <span class="js-date-string js-localized">
                    {{ event.signups_open_time | strftime("%s") }}
                  </span>
                </p>
                <p>
                  <small class="is-uppercase has-text-weight-bold has-text-grey-light is-small">Signups Close</small>
                  <br/>
                  <span class="js-date-string js-localized">
                    {{ event.signups_closed_time | strftime("%s") }}
                  </span>
                </p>
                <p>
                  <small class="is-uppercase has-text-weight-bold has-text-grey-light is-small">Runners Announced</small>
                  <br/>
                  <span class="js-date-string js-localized">
                    {{ event.runners_announced_time | strftime("%s") }}
                  </span>
                </p>
                <p>
                  <small class="is-uppercase has-text-weight-bold has-text-grey-light is-small">Starts</small>
                  <br/>
                  <span class="js-date-string js-localized">
                    {{ event.start_time | strftime("%s") }}
                  </span>
                </p>
                <p>
                  <small class="is-uppercase has-text-weight-bold has-text-grey-light is-small">Ends</small>
                  <br/>
                  <span class="js-date-string js-localized">
                    {{ event.end_time | strftime("%s") }}
                  </span>
                </p>
              </div>
            </div>

            <div class="buttons has-margin-top-md">
              <a class="button is-danger is-fullwidth">Submit a Run</a>
              <a class="button is-outlined is-fullwidth">View Submissions</a>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
{% endblock %}
