{% extends "layouts/main.html.j2" %}

{% block main %}
  <div class="container">
    <main class="content">
      <section class="section">
        <h1 class="title">Listing Events</h1>

        <div class="field is-grouped">
          <p class="control">
            <a href="/admin/events/new" class="button is-primary">New Event</a>
          </p>
        </div>

        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>Name</th>
              <th>Start Time</th>
              <th>End Time</th>
            </tr>
          </thead>

          <tbody>
            {% for event in events %}
              <tr>
                <td><a href="/admin/events/{{event.id}}">{{ event.name }}</a></td>
                <td>{{ event.start_time }}</td>
                <td>{{ event.end_time }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
    </main>
  </div>
{% endblock %}
