{% extends "layouts/main.html.j2" %}

{% block main %}
  <div class="container">
    <main class="content">
      <section class="section">
        <div class="columns">
          <div class="column is-two-fifths">
            <div class="card">
              <div class="card-content">
                <p class="title is-4">{{event.name}}</p>
                <p class="subtitle is-6">State: {{event.state}}</p>
              </div>

              <footer class="card-footer">
                <div class="card-footer-item">
                  <a href="/events/{{event.id}}">
                    Go to Event
                  </a>
                </div>

                <div class="card-footer-item">
                  <a href="/admin/events/{{event.id}}/edit">
                    Edit
                  </a>
                </div>
              </footer>
            </div>

            <h1 class="title is-4">Accepted Runs</h1>

            <table class="table is-fullwidth">
              <thead>
                <tr>
                  <th>Runner</th>
                  <th>EST/PB</th>
                </tr>
              </thead>

              <tbody>
                {% for submission in accepted_submissions %}
                  <tr>
                    <td style="max-width: 60%">
                      <div class="media">
                        <div class="media-left">
                          <figure class="image is-32x32 is-square is-marginless">
                            <img class="avatar" src="{{ conn.constants.assets_url }}/{{ submission.account.avatar_object_id }}">
                          </figure>
                        </div>
                        <div class="media-content">
                          <p>{{submission.account.username}}</p>
                        </div>
                      </div>
                    </td>

                    <td>
                      <strong>{{submission.est_seconds | duration}}</strong>
                      <br/>
                      <span>{{submission.pb_seconds | duration}}</span>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

            <a class="button is-danger is-fullwidth" href="/admin/events/{{event.id}}/submissions">
              Manage Submissions
            </a>
          </div>

          <div class="column">
            <h1 class="title">Summary</h1>
            {{event.summary | safe}}
            <h1 class="title">Details</h1>
            {{event.details | safe}}
            <h1 class="title">Rules</h1>
            {{event.rules | safe}}
          </div>
        </div>
      </section>
    </main>
  </div>
{% endblock %}
