{% extends "layouts/main.html.j2" %}

{% block main %}
  <div class="container">
    <main class="content">
      <div id="signups-container" data-event-id="{{event.id}}"></div>
    </main>
  </div>
{% endblock %}


{% block postbody %}
  <script src="/js/signups.js"></script>
{% endblock %}
