{% extends "layouts/main.html.j2" %}

{% block main %}
  <div class="container">
    <main class="content">
      <section class="section">
        <div class="columns is-centered">
          <div class="column is-10">
            <div class="box is-danger is-fullbleed">
              <h1 class="title">
                Submitting to
                <br/>
                <a href="/events/{{event.id}} ">
                  {{event.name}}
                </a>
              </h1>

              <form class="form is-isolated has-padding-md" method="POST" action="/events/{{event.id}}/submit">
                {% include "run_submissions/_form.html.j2" %}

                <input class="input button is-fullwidth is-danger is-rounded is-outlined" type="submit" value="Submit">
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
{% endblock %}
