{% extends "layouts/main.html.j2" %}

{% block main %}
  <div class="container">
    <main class="content">
      <section class="section">
        <h1 class="title">2019 Teams</h1>

        <div class="columns is-multiline">
          {% for team in teams %}
            <div class="column is-3-widescreen is-6">
              <h2 class="title is-4" style="color: #{{team.color}};">{{team.name}}</h2>
              <p class="subtitle is-6 has-text-grey-light has-text-weight-bold">Captain: {{ accounts[team.captain_id].username}}</p>
              {% for run in team.runs %}
                {% set runner = accounts[run.account_id] %}
                {% set game = games[run.game_id] %}
                <div class="has-margin-bottom-sm has-text-grey-light">
                  <span>{{ game.name }}
                  </span>
                  <br/>
                  <a href="/accounts/{{runner.id}}" class="has-text-black has-text-weight-bold">{{ runner.username }}</a>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </section>
    </main>
  </div>
{% endblock %}
