{% if event.game_id %}
  <div class="field">
    <div class="control is-oneline is-rounded">
      <label class="label">Game</label>
      <div class="prefix is-icon">
        <i class="fas fa-lock"></i>
      </div>
      <input class="input" type="text" name="game_name" required="true" value="{{event.game.name}}" disabled>
      <input class="input" type="hidden" name="game_id" required="true" value="{{event.game_id}}">
    </div>
  </div>
{% else %}
  <div class="field">
    <div class="control is-oneline is-rounded">
      <div class="select">
        <select name="game_id" required="true">
          {% for game in games %}
            <option
              value="{{game.id}}"
              {% if game.id == event.game_id %}
                selected
              {% endif %}
            >
              {{game.name}}
            </option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
{% endif %}

{% if event.category %}
  <div class="field">
    <div class="control is-oneline is-rounded">
      <label class="label">Category</label>
      <div class="prefix is-icon">
        <i class="fas fa-lock"></i>
      </div>
      <input class="input" name="category" required="true" value="{{event.category}}" disabled>
      <input class="input" type="hidden" name="category" required="true" value="{{event.category}}">
    </div>
  </div>
{% else %}
  <div class="field">
    <div class="control is-oneline is-rounded">
      <label class="label">Category</label>
      <input class="input" name="category" required="true">
    </div>
  </div>
{% endif %}

<div class="field">
  <div class="control is-oneline is-rounded">
    <label class="label">PB</label>
    <input class="input" name="pb" required="true" placeholder="00:00:00" pattern="[0-9]+:[0-5][0-9]:[0-5][0-9]">
  </div>
</div>

<div class="field">
  <div class="control is-oneline is-rounded">
    <label class="label">Estimate</label>
    <input class="input" name="estimate" required="true" placeholder="00:00:00" pattern="[0-9]+:[0-5][0-9]:[0-5][0-9]">
  </div>
</div>

<div class="field">
  <div class="control is-oneline is-rounded">
    <label class="label">Comment</label>
    <input class="input" name="comment" placeholder="Anything special about your run?">
  </div>
</div>

