{% extends "layouts/main.html.j2" %}

{% block main %}
  <div class="container">
    <main class="content">
      <section class="section">
        <h1 class="title">
          Submissions for
          <a href="/admin/events/{{event.id}}">
            {{event.name}}
          </a>
        </h1>

        <table class="table">
          <thead>
            <tr>
              <th>Runner</th>
              <th>Game/Category</th>
              <th>Estimate/PB</th>
              <th>Accept</th>
            </tr>
          </thead>

          <tbody>
            {% for submission in submissions %}
              <tr>
                <td>
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-32x32 is-square is-marginless">
                        <img class="avatar" src="{{ conn.constants.assets_url }}/{{ submission.account.avatar_hash }}">
                      </figure>
                    </div>
                    <div class="media-content">
                      <p>{{submission.account.username}}</p>
                    </div>
                  </div>
                </td>

                <td>
                  <strong>{{submission.game.name}}</strong>
                  <br/>
                  <span>{{submission.category}}</span>
                </td>

                <td>
                  <strong>{{submission.est_seconds | duration}}</strong>
                  <br/>
                  <span>{{submission.pb_seconds | duration}}</span>
                </td>

                <td>
                  {% if submission.accepted %}
                    <a class="button is-small is-danger" href="/admin/events/{{event.id}}/submissions/{{submission.id}}/unaccept">Unaccept</a>
                  {% else %}
                    <a class="button is-small" href="/admin/events/{{event.id}}/submissions/{{submission.id}}/accept">Accept</a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
    </main>
  </div>
{% endblock %}
