.box-link {
  display: block;
  color: $text;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;

  &:hover {
    background-color: hsla(0, 0, 0, 0.06);

    .box-link-header {
      color: $text;
    }
  }
}

.box-link-header {
  display: block;
  color: $link;
}
