$event-border-color: $danger !default;
$event-border-radius: $radius !default;
$event-border: 1px solid $event-border-color !default;

.event {
  display: flex;
  border-radius: $event-border-radius;
  margin: 2rem 0;

  .event-datetime {
    flex: 0 0 6ch;
    padding-right: 1rem;
    margin-right: 1rem;
    border-right: $event-border;
    color: $danger;
    text-transform: uppercase;
    text-align: right;
    font-size: $size-3;

    .event-datetime-month {
      font-weight: $weight-normal;
      line-height: 1;
      margin: 0;
    }

    .event-datetime-day {
      line-height: 1.2em;
      font-weight: $weight-bold;
    }

    @include mobile {
      font-size: $size-4;
      flex: 0 0 5.3ch;
    }
  }

  .event-body {
    .title {
      margin-bottom: 1rem;
    }
  }
}
