.footer {
  background-color: #e7e7e7;
  padding: 3rem 1.5rem;
  font-size: 1rem;
}

.footer-section-title {
  font-size: 1.25em;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.footer-link-icon {
  margin-right: 0.25rem;
}


.footer {
  .box-link {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }
}
