.navbar-item {
  border-radius: $radius;
  margin: 1em 0.25em;
  padding: 0.25em 1em;
  // font-family: $font-header;
  // letter-spacing: 1px;
}

.navbar-item.has-dropdown {
  &> .navbar-link {
    border-radius: $radius;
    // letter-spacing: 1px;

    &:hover, &:active {
      background-color: $white;
    }
  }

  .navbar-dropdown.is-boxed .navbar-item {
    padding: 0.375rem 1rem;
    margin: 0;
    border-radius: 0;
    // !important is needed because Bulma doesn't properly set colors when
    // the dropdown is inside the hero component (it selects `.dropdown-item`,
    // but not `.navbar-dropdown`).
    color: $grey-dark !important;
    letter-spacing: 0;

    &:hover {
      background-color: $white-ter;
      color: $black !important;
    }
  }
}

.navbar-brand-icon {
  padding: 0 1em;

  .brand-logo {
    font-size: 1.2rem;
  }
}
