.flatpickr-calendar {
  .flatpickr-months {
    .flatpickr-month {
      height: 2rem;
    }

    .flatpickr-current-month {
      height: 2rem;
      padding-top: 0;
      padding-bottom: 4px;
    }
  }
}
