.container {
  margin-top: 8px;
  font-family: 'Encode Sans', BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.avatar {
  margin-right: 12px;
}

.brandLogo {
  font-size: 1.4em;
  padding: 0;
}

.divider {
  border-radius: 0;
  border-right: 1px solid var(--gray-300);
  margin: 1.25rem 0.25rem;
  padding: 0;
}

.buttonGroup {
  display: flex;
}

.navButton {
  margin: 0 4px;
}

.container.container {
  & :global {
    & a {
      color: var(--gray-700);
    }

    & .navbar-dropdown .navbar-item {
      color: var(--gray-700);
    }

    & .navbar-link::after {
      border-color: var(--primary);
    }
  }
}

.container.dark {
  & :global {
    & a {
      color: var(--gray-300);
    }
  }
}
