.footer {
  background-color: var(--gray-300);
  padding: 3rem 1.5rem;
  font-size: 1rem;
  font-family: 'Encode Sans', BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  /* TODO: Make everything use a common Link element instead. */
  & a {
    color: #eb3d4c;
  }
}

.sectionHeader {
  margin-bottom: 8px;
}

.linkIcon {
  margin-right: 0.25rem;
}

.boxLink {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}
