<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-6">
        <div class="columns is-multiline is-mobile">
          <div class="column is-half">
            <p class="footer-section-title">Social</p>
            <p>
              <a href="{{conn.constants.discord_url}}" target="_blank">
                <span class="footer-link-icon"><i class="fab fa-discord fa-fw"></i></span>
                Discord
              </a>
            </p>
            <p>
              <a href="{{conn.constants.srcom_url}}" target="_blank">
                <span class="footer-link-icon"><i class="fa fa-trophy fa-fw"></i></span>
                speedrun.com
              </a>
            </p>
            <p>
              <a href="{{conn.constants.twitch_url}}" target="_blank">
                <span class="footer-link-icon"><i class="fab fa-twitch fa-fw"></i></span>
                Twitch
              </a>
            </p>
            <p>
              <a href="{{conn.constants.twitter_url}}" target="_blank">
                <span class="footer-link-icon"><i class="fab fa-twitter fa-fw"></i></span>
                Twitter
              </a>
            </p>
            <p>
              <a href="{{conn.constants.youtube_url}}" target="_blank">
                <span class="footer-link-icon"><i class="fab fa-youtube fa-fw"></i></span>
                YouTube
              </a>
            </p>
          </div>

          <div class="column is-half">
            <p class="footer-section-title">More Info</p>
            {# <p>
              <a href="/rules">Rules</a>
            </p> #}
            <p>
              <a href="mailto:{{conn.constants.contact_email}}">Contact</a>
            </p>
            <a href="/events">
              Event Calendar
            </a>
            <p>
              <a href="https://github.com/fifteenfortyfive" target="_blank">Software</a>
            </p>
            <p>
              <a href="/volunteer">Volunteer</a>
            </p>
          </div>

          <div class="column is-half">
            <p class="footer-section-title">Past Events</p>

            <p class="is-italic has-text-grey">Coming soon</p>

{#             <p>
              <a href="https://twitch.tv/1545race" target="_blank">
                Summer 2017
              </a>
            </p>
            <p>
              <a href="http://discord.fifteenfortyfive.org" target="_blank">
                Summer 2018
              </a>
            </p> #}
          </div>
        </div>
      </div>

      <div class="column">
        <p class="footer-section-title">Other Events</p>
        <p>
          <a class="box-link" href="https://twitch.tv/rareware301" target="_blank">
            <span class="box-link-header">
              Rareware 301
            </span>
            <span class="box-link-body">
              Banjo Kazooie, Banjo Tooie, and Donkey Kong 64 played to full completion. Hosted annually in January.
            </span>
          </a>
        </p>

        <p>
          <a class="box-link" href="https://docs.google.com/spreadsheets/d/1n1bZ8DV7vhFT0X2fLaXpThEZa9M8aNNyIN1SqR8dr-Q/edit?usp=sharing" target="_blank">
            <span class="box-link-header">
              Sprashfecta
            </span>
            <span class="box-link-body">
              The original Spyro and Crash trilogies played to full completion. Hosted annually in December.
            </span>
          </a>
        </p>

        <p>
          <a class="box-link" href="https://spyrothon.marathons.gg" target="_blank">
            <span class="box-link-header">
              Spyrothon
            </span>
            <span class="box-link-body">
              The Spyro speedrunning community marathon. Usually hosted at the end of Summer.
            </span>
          </a>
        </p>

        <p>
          <a class="box-link" href="https://twitch.tv/602Race" target="_blank">
            <span class="box-link-header">
              Super Mario 602
            </span>
            <span class="box-link-body">
              Super Mario 64, Sunshine, Galaxy, and Galaxy 2 played to full completion. Hosted every Summer and Winter.
            </span>
          </a>
        </p>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <p>
          &copy; 2019
          <span class="brand-logo is-inline-block">The 1545</span>.
          Site designed by <a href="https://github.com/faultyserver">faulty</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
