<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item navbar-brand-icon" href="/">
        <span class="brand-logo">The 1545</span>
      </a>
      <span class="navbar-burger burger" data-target="primaryNav">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>

    <div class="navbar-menu" id="primaryNav">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>

          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" href="mailto:{{conn.constants.contact_url}}">
              Contact
            </a>
            <a class="navbar-item" href="/volunteer">
              Volunteer
            </a>
          </div>
        </div>

        {% if conn.user.admin %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/admin">
              Admin
            </a>

            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="/admin/users">
                Account Management
              </a>
              <a class="navbar-item" href="/admin/events">
                Events
              </a>
            </div>
          </div>
        {% endif %}
      </div>

      <div class="navbar-end">
        {% if conn.user %}
          <div class="navbar-item has-dropdown is-hoverable is-paddingless">
            <div class="navbar-link">
              {% if conn.user.avatar_object_id %}
                <img class="avatar avatar--navbar" src="{{ conn.constants.assets_url }}/{{ conn.user.avatar_object_id }}">
              {% endif %}
              {{ conn.user.username }}
            </div>

            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="/accounts/{{conn.user.id}}">Profile</a>
              <a class="navbar-item" href="/accounts/edit">Edit Account</a>
              <div class="navbar-divider"></div>
              <a class="navbar-item" href="/signout">Log Out</a>
            </div>
          </div>

          <div class="navbar-item is-divider">
          </div>
        {% else %}
          <div class="navbar-item is-paddingless">
            <div class="buttons">
              <a class="button is-small is-danger is-outlined" href="/signin">
                Sign In
              </a>
              <a class="button is-small is-dark is-outlined" href="/accounts/new">
                Create an Account
              </a>
            </div>
          </div>
        {% endif %}

        <div class="navbar-item is-paddingless">
          <div class="buttons">
            <a class="button is-white" href="{{conn.constants.discord_url}}" target="_blank">
              <i class="fab fa-discord"></i>
            </a>
            <a class="button is-white" href="{{conn.constants.srcom_url}}" target="_blank">
              <i class="fa fa-trophy"></i>
            </a>
            <a class="button is-white" href="{{conn.constants.twitch_url}}" target="_blank">
              <i class="fab fa-twitch"></i>
            </a>
            <a class="button is-white" href="{{conn.constants.twitter_url}}" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
            <a class="button is-white" href="{{conn.constants.youtube_url}}" target="_blank">
              <i class="fab fa-youtube"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
