<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item navbar-brand-icon" href="/">
        <span class="brand-logo">The 1545</span>
      </a>
      <span class="navbar-burger burger" data-target="navbarMenuHeroA">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons are-large">
          <a class="button is-white" href="https://discord.fifteenfortyfive.org" target="_blank">
            <i class="fab fa-discord"></i>
          </a>
          <a class="button is-white" href="https://speedrun.com/1545" target="_blank">
            <i class="fa fa-trophy"></i>
          </a>
          <a class="button is-white" href="https://twitch.tv/1545race" target="_blank">
            <i class="fab fa-twitch"></i>
          </a>
          <a class="button is-white" href="https://twitter.com/1545race" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
