<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item navbar-brand-icon" href="/" native>
        <span class="brand-logo">The 1545</span>
      </a>
      <span class="navbar-burger burger" data-target="primaryNav">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>

    <div class="navbar-menu" id="primaryNav">
      <div class="navbar-start">
        <a class="navbar-item" href="/teams" native>
          Teams
        </a>

        <a class="navbar-item" href="/streams" native>
          Streams
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" native>
            More
          </a>

          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" href="mailto:{{conn.constants.contact_url}}" native>
              Contact
            </a>
            <a class="navbar-item" href="/volunteer" native>
              Volunteer
            </a>
          </div>
        </div>

        {% if conn.user.admin %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/admin" native>
              Admin
            </a>

            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="/admin/users" native>
                Account Management
              </a>
              <a class="navbar-item" href="/admin/events" native>
                Events
              </a>
            </div>
          </div>
        {% endif %}
      </div>

      <div class="navbar-end">
        {% if conn.user %}
          <div class="navbar-item has-dropdown is-hoverable is-paddingless">
            <div class="navbar-link">
              {% if conn.user.avatar_hash %}
                <img class="avatar avatar--navbar" src="{{ conn.constants.assets_url }}/{{ conn.user.avatar_hash }}">
              {% endif %}
              {{ conn.user.username }}
            </div>

            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="/@me">Profile</a native>
              <a class="navbar-item" href="/@me/edit">Edit Account</a native>
              <div class="navbar-divider"></div>
              <a class="navbar-item" href="/signout">Log Out</a native>
            </div>
          </div>

          <div class="navbar-item is-divider">
          </div>
        {% else %}
          <div class="navbar-item is-paddingless">
            <div class="buttons">
              <a class="button is-small is-danger is-outlined" href="/signin" native>
                Sign In
              </a>
              <a class="button is-small is-dark is-outlined" href="/accounts/new" native>
                Create an Account
              </a>
            </div>
          </div>
        {% endif %}

        <div class="navbar-item is-paddingless">
          <div class="buttons">
            <a class="button is-white" href="{{conn.constants.discord_url}}" target="_blank" native>
              <i class="fab fa-discord"></i>
            </a>
            <a class="button is-white" href="{{conn.constants.srcom_url}}" target="_blank" native>
              <i class="fa fa-trophy"></i>
            </a>
            <a class="button is-white" href="{{conn.constants.twitch_url}}" target="_blank" native>
              <i class="fab fa-twitch"></i>
            </a>
            <a class="button is-white" href="{{conn.constants.twitter_url}}" target="_blank" native>
              <i class="fab fa-twitter"></i>
            </a>
            <a class="button is-white" href="{{conn.constants.youtube_url}}" target="_blank" native>
              <i class="fab fa-youtube"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
