<!DOCTYPE html>
<html class="{{ page_class | d('page') }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}The 1545{% endblock %}</title>
    <script src="https://use.typekit.net/abb5hmw.js"></script>
    <script>
      try{Typekit.load({ async: true });}catch(e){}
    </script>
    <link rel="stylesheet" href="/css/app.css?">
    <script src="/js/app.js"></script>

    <script src="https://use.fontawesome.com/releases/v5.0.3/js/all.js"></script>
  </head>

  <body>
    {% block main %}{% endblock %}
  </body>

  {% block postbody %}{% endblock %}
</html>
