.splash {
  position: relative;
}

.splashPrimary {
  padding-top: 0;
  padding-bottom: 0rem;
}

.brandLogo {
  font-size: 15vw;
}

.subtitle {
  font-size: 24px;
  line-height: 1.4em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 4px;
  margin-bottom: 2rem;
}

.heroActions {
  display: flex;
  justify-content: center;
}

.heroFoot {
  padding: 2em 0;
  font-size: 2em;
}

.textCentered {
  text-align: center;
}
