.container {
  margin-bottom: 16px;
  overflow: hidden;
  border: 1px solid var(--gray-300);
  border-radius: 4px;
}

.header {
  background-color: var(--gray-200);
  padding-top: 32px;
  padding-bottom: 16px;
  text-align: center;
}

.avatar {
  display: block;
  margin: auto;
  margin-bottom: 16px;
}

.username {
  margin-bottom: 4px;
}

.adminTag {
  margin-bottom: 8px;
}

.content {
  padding: 16px;
}

.joinedAt {
  margin: 8px 16px;
}
