@value colors: "../../../style/colors.css";
@value gray-300 from colors;

.card {
  margin-bottom: 16px;
  overflow: hidden;
  border: 1px solid gray-300;
  border-radius: 4px;
}

.header {
  color: white;
  padding: 4px 8px;
}

.body {
  padding: 8px;
}
