<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>The 1545</title>

    <script src="https://use.typekit.net/abb5hmw.js"></script>
    <script>
      try {
        Typekit.load({ async: true });
      } catch (e) {}
    </script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
    />

    <style>
      @import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,800,700i,900,900i&display=swap");
      @import url("https://fonts.googleapis.com/css?family=Encode+Sans:400,400i,600,600i&display=swap");
    </style>
  </head>

  <body>
    <div id="app-container"></div>

    <script src="/js/app-v2.js"></script>
  </body>
</html>
