{% extends "layouts/main.html.j2" %}

{% block main %}
  <div id="app-container" style="min-height: 75vh;"></div>
{% endblock %}

{% block postbody %}
  <script src="/js/app-v2.js"></script>
{% endblock %}
