{% extends "layouts/main.html.j2" %}

{% block main %}
  <div class="container">
    <main class="content">
      <section class="section">
        <h1 class="title">2019 Event Calendar</h1>

        <p>
          We've got a lot planned for this year and are excited to share everything on
          <strong>January 13th, 2019</strong>!
          Check back then to see what we've got in the works, and be sure to
          <a href="{{conn.constants.twitter_url}}" target="_blank" rel="nofollow noopener">follow us on Twitter</a>
          to keep up with news and events as soon as they happen.
        </p>

        <div class="event">
          <div class="event-datetime">
            <p class="event-datetime-month">Mar</p>
            <p class="event-datetime-day">16</p>
          </div>

          <div class="event-divider"></div>

          <div class="event-body">
            <p class="title has-text-danger is-4">Invitational Series - Spyro the Dragon</p>
            <p>The first race of the Invitational Series!
          </div>
        </div>

        <div class="event">
          <div class="event-datetime">
            <p class="event-datetime-month">Mar</p>
            <p class="event-datetime-day">17</p>
          </div>

          <div class="event-divider"></div>

          <div class="event-body">
            <p class="title has-text-danger is-4">Invitational Series - Super Mario 64</p>
            <p>The first race of the Invitational Series!
          </div>
        </div>

        <div class="event">
          <div class="event-datetime">
            <p class="event-datetime-month">Jul</p>
            <p class="event-datetime-day">12-14</p>
          </div>

          <div class="event-divider"></div>

          <div class="event-body">
            <p class="title has-text-danger is-4">The 1545 - Summer 2019</p>
            <p>The main event! Watch on as teams of runners compete to finish the Super Mario 602, Rareware 301%, and Sprashfecta in a massive relay!
          </div>
        </div>
      </section>
    </main>
  </div>
{% endblock %}
