{% extends "layouts/main.html.j2" %}

{% block main %}
  <div class="container">
    <main class="content">
      <section class="section">
        <h1 class="title">1545 Volunteer Positions</h1>

        <p>For the past two years, The 1545 has been organized and put on by a small team of 8 people. In that time, we've learned what we're good at and what we could use some help with to make sure that the event runs smoothly, is well supported, and is able to grow sustainably in the coming years.</p>

        <p>
          Below are some positions that we are looking to fill before next year's event (Summer 2019) to help meet those goals. It is by no means an exhaustive list, and if you would like to get involved in a position not listed here, please send us an email at
          <a href="mailto:volunteer@fifteenfortyfive.org" target="_blank">volunteer@fifteenfortyfive.org</a>
          with more information, or message an Organizer
          <a href="{{conn.constants.discord_url}}" target="_blank" rel="noopener nofollow">on Discord.</a>
        </p>

        <p>
          Note that these positions are primarily intended to be long-term, beyond just a single event. These specifically do
          <em>not</em>
          include positions such as chat moderators, commentators, etc., as these are primarily event-specific and determined based on immediate needs for each event.
        </p>
      </section>


      <section class="section">
        <h1 class="title">Stream Developer</h1>

        <p>As we try to expand our platform for running events, we're looking for an experienced front end developer interested in working with motion graphics and data visualization to improve the quality of our stream content, as well as improving the stream management experience for other volunteers working the event.</p>

        <p>
          <strong>Potential Responsiblities include:</strong>
        </p>

        <ul>
          <li>Working with designers to draft and implement features for the stream content.</li>
          <li>Working with other developers to automate stream management, including transitions and data population.</li>
          <li>Developing an admin dashboard for managing the stream remotely.</li>
          <li>Developing integrations with other software to simplify runner's responsibilities during the event.</li>
        </ul>

        <p>This list is not exhaustive, and we welcome any new ideas for features and tooling to improve the event. As a developer on our team, you'll have autonomy to work on what you think is important and implement your own ideas.</p>

        <p>
          <strong>Requisite skills:</strong>
        </p>

        <ul>
          <li>Moderate experience in modern JavaScript development.</li>
          <li>Ability to develop features independently.</li>
        </ul>

        <p>
          <strong>Ideal skills:</strong>
        </p>

        <ul>
          <li>Experience developing motion graphics, ideally in a browser setting (e.g., using GreenSock or other animation APIs).</li>
          <li>Experience working with realtime data in a browser environment.</li>
          <li>
            Familiarity with
            <a href="https://obsproject.com" target="_blank">OBS</a>:
            managing scenes, sources, and effects, and controlling OBS remotely.
          </li>
        </ul>

        <p>
          The timeline of work primarily spans from January when the event details are announced to July when the event is held. The workload is adaptive to your availability, but is fairly light overall. Some work during the remainder of the year may come up as well depending on scheduling and other event plans. Availability during all of this time is not required, but consistent communication about your progress and availability is expected.
        </p>

        <p>
          Our current front-end codebase consists of primarily plain JavaScript and some TypeScript, but we are open to introducing/migrating to new frameworks and libraries for a better development experience. Our backend systems are currently written in Crystal and communicate with the front end via HTTP and WebSockets. You can see all of our existing work at
          <a href="https://github.com/fifteenfortyfive" target="_blank">https://github.com/fifteenfortyfive.</a>
        </p>

        <p>
          If interested, please send an email to
          <a href="mailto:volunteer@fifteenfortyfive.org" target="_blank">volunteer@fifteenfortyfive.org</a>
          including a link to and/or a description of some existing work for us to look at. Please remember that this is a volunteer position, and that we are not currently able to compensate you for your contributions.
        </p>

        <p>If you are a developer but more interested in working on the backend services, please get in contact! While this position describes primarily front-end work, we would be happy to expand our team further and improve our systems as a whole.</p>
      </section>


      <section class="section">
        <h1>Designer</h1>

        <p>We're looking for an experienced graphic and/or web designer to help create a consistent brand for The 1545 and apply that brand to the stream, website, and other assets related to the event. Design is a skillset we are currently lacking, meaning whoever fills this position will be given the autonomy and authority to shape the design process and presence across our organization.</p>

        <p>
          <strong>Responsibilities include:</strong>
        </p>

        <ul>
          <li>Creating a brand image and style guide to provide guidance when creating new assets related to The 1545.</li>
          <li>Crafting and implementing stream layout designs for use during the event.</li>
          <li>Collaborating with developers to ensure that stream layouts are implemented and automated properly.</li>
        </ul>

        <p>
          <strong>Requisite skills:</strong>
        </p>

        <ul>
          <li>Ability to create and maintain a brand image across various mediums (logos, websites, etc.)</li>
          <li>Ability to create designs in accordance with a given style.</li>
        </ul>

        <p>
          <strong>Ideal skills:</strong>
        </p>

        <ul>
          <li>Experience creating style guides to convey brand guidelines.</li>
          <li>Experience with design implementation using HTML and CSS.</li>
          <li>Experience designing motion graphics and/or animations.</li>
        </ul>

        <p>The timeline of work primarily spans from January when the event details are announced to July when the event is held. The workload is adaptive to your availability, but is fairly light overall. Some work during the remainder of the year may come up as well depending on scheduling and other event plans. Availability during all of this time is not required, but consistent communication about your progress and availability is expected.</p>

        <p>
          If interested, please send an email to
          <a href="mailto:volunteer@fifteenfortyfive.org" target="_blank">volunteer@fifteenfortyfive.org</a>
          including a link to and/or a description of some existing work for us to look at. Please remember that this is a volunteer position, and that we are not currently able to compensate you for your contributions.
        </p>
      </section>
    </main>
  </div>
{% endblock %}
