.account-box {
  --base-size: 100px;
  --color: #{$text-muted};
  display: flex;
  border: 2px solid var(--color);
  border-radius: 4px;
}

.account-box__avatar {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  flex: 0 0 var(--base-size);
  height: var(--base-size);
  width: var(--base-size);
  background-color: $white-bg-color;
}

.account-box__info {
  flex: 1 0 auto;
  padding: 12px 24px;
}

.account-box__username {
  display: block;
  margin: 8px 0 12px 0;
  word-break: break-all;
  font-size: 2em;
  font-weight: 700;
}

a.account-box__social {
  display: inline-block;
  margin-right: 12px;
  font-size: 1.2em;
  color: $text-muted;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.account-box__social__icon {
  margin-right: 4px;
  color: $text-muted;
}


.account-box--small {
  --base-size: 60px;
  font-size: 0.7em;

  .account-box__info {
    padding: 4px 12px;
  }

  .account-box__username {
    margin: 0;
    margin-bottom: 1px;
    font-size: 1.5em;
  }

  .account-box__social {
    margin-right: 8px;
  }
}

.account-box-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 16px;
}
