.hero-box__container {
  display: flex;
  margin: 24px 0;
}

.hero-box {
  flex: 1 1 0;
  min-height: 160px;
  padding: 24px;
  margin: 0 12px;
  border: 1px solid $border-color;
  border-radius: 4px;
  font-size: 1.2em;
}

.hero-box__title {
  font-size: 1.4em;
}

.hero-box--icon {
  .hero-box__icon {
    display: block;
    margin: 36px auto;
    font-size: 3em;
    color: $team-green;
  }
}

.hero-box--list {
  padding: 0;

  .hero-box__title {
    padding: 24px 24px 0 24px;
  }
}

.hero-box__list {
  margin-top: 24px;
}

.hero-box__list__element {
  width: 100%;
  margin: 0px 0;
  display: flex;
  align-items: center;
  border-top: 1px solid $border-color;
}

.hero-box__list__element__boxart {
  flex: 0 0 60px;

  img {
    width: 60px;
  }
}

.hero-box__list__element__name {
  padding-left: 12px;
  padding-right: 24px;
}
