.sey-container {
  display: none;
  position: absolute;
  top: 43px;
  width: 100%;
  background-color: $white-bg-color;
  border: 1px solid $border-color;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: none;
  color: $text-color;
  transition: left 0.1s ease-in-out;
  z-index: 1;
}
.sey-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.sey-show {
  display: block;
}
.sey-hide {
  display: none;
}
.sey-empty {
  cursor: default;
  padding: 7px;
}
.sey-item {
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sey-item:hover,
.sey-selected {
  background-color: $white-color;
  color: $text-color;
}

.sey-char-highlight {
  font-weight: bold;
}
.sey-category-id {
  background-color: #eee;
  color: #aaa;
  text-align: right;
  text-transform: capitalize;
  font-style: italic;
  font-size: 12px;
  padding: 7px;
}


.autocomplete__boxart {
  width: 60px;
}

.autocomplete__content {
  padding: 12px;
}
