.navbar-dropdown {
  position: relative;
  margin-top: 12px;

  &:hover,
  &.--open {
    .navbar-dropdown__menu {
      display: block;
    }
  }
}

.navbar-dropdown__display {
  cursor: pointer;
  padding-bottom: 4px;
}

.navbar-dropdown__menu {
  display: none;
  position: absolute;
  right: 0;
  width: 180px;
  padding: 4px 0;
  background-color: $white-bg-color;
  border: 1px solid $border-color;
  border-radius: 4px;
}


.navbar-dropdown__menu-item {
  display: block;
  width: 100%;
  padding: 4px 12px;

  &:hover:not(.--header) {
    text-decoration: none;
    background-color: $red;
    color: $white-bg-color;
  }

  &.--header {
    color: $text-muted;
    border-bottom: 1px solid $border-color;
    padding-bottom: 8px;
  }
}
