.notif-banner {
  display: block;
  width: 100%;
  height: 56px;
  padding: 12px;
  padding-left: 64px;
  border-radius: 4px;
  font-size: 1.6rem;
  position: relative;

  &--success {
    background-color: $success;
    border: 1px solid darken($success, 7%);
    color: $white;
  }
}

.notif-banner__icon {
  font-size: 36px;
  position: absolute;
  width: 56px;
  top: 9px;
  left: 9px;
}
