.schedule-grid {
  // 150 seconds/pixel == 24 pixels/hour
  --seconds-per-pixel: 120;
  margin-top: 32px;
  font-size: 1rem;
  display: flex;
  width: 100%;
  overflow-x: scroll;
  position: relative;
}

.schedule-grid__timeline {
  position: sticky;
  left: 0;
  background-color: $white-bg-color;
  border-right: 2px solid $white-bg-color;
  flex: 0 0 48px;
  font-size: 1rem;
}

.schedule-entry.timeline-entry {
  border-top: 1px solid lighten($border-color, 20%);
  border-bottom: none;
  border-radius: 0;
  padding: 1px 4px;
  font-size: 1em;
  color: $text-muted;
}

.timeline-entry__time {
  display: block;
  width: 100%;
  line-height: 1em;
  text-align: right;
}

.schedule-entry.timeline-entry__date {
  font-weight: 700;
  color: $text-color;
  position: sticky;
  top: 0px;
}

.schedule-grid__entries {
  flex: 1 0 auto;
  margin: 0 2px;
}

.schedule-entry {
  padding: 8px;
  font-size: 1.2em;
  line-height: 1em;
  border-bottom: 4px solid $white-bg-color;
  color: $white-color;
  display: flex;
  height: calc(var(--schedule-entry-seconds) / var(--seconds-per-pixel));

  &[data-is-actual="false"] {
    opacity: 0.6;
  }

  .schedule-entry__name {
    flex: 1 1 160px;
    font-weight: 400;
  }

  .schedule-entry__runner-name {
    font-weight: 700;
  }

  .schedule-entry__runner-timezone {
    display: inline-block;
    font-weight: 400;
    font-size: 0.8em;
  }

  .schedule-entry__estimate {
    flex: 0 0 40px;
  }
}


// Styling specific to the schedule editor
.scheduler .schedule-entry:not(.timeline-entry) {
  cursor: move;

  &:hover {
    opacity: 0.7;
  }
}
