.schedule-grid {
  // 150 seconds/pixel == 24 pixels/hour
  --seconds-per-pixel: 150;
  margin-top: 32px;
  font-size: 0.9rem;
  display: flex;
}

.schedule-grid__timeline {
  flex: 0 0 48px;
  font-size: 1rem;
}

.schedule-entry.timeline-entry {
  border-top: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-bottom: none;
}

.timeline-entry__time {
  display: block;
  width: 100%;
  line-height: 1em;
  text-align: right;
}

.timeline-entry__date {
  background-color: $text-color;
  color: $white-color;
  position: sticky;
  top: 0px;
}

.schedule-grid__entries {
  flex: 1 0 auto;
}

.schedule-entry {
  padding: 4px 8px;
  border-bottom: 4px solid $white-bg-color;
  display: flex;
  height: calc(var(--schedule-entry-seconds) / var(--seconds-per-pixel));

  .schedule-entry__name {
    flex: 1 0 160px;
    font-weight: 400;
  }

  .schedule-entry__runner-name {
    font-weight: 700;
  }

  .schedule-entry__runner-timezone {
    display: inline-block;
    font-weight: 400;
    font-size: 0.8em;
  }

  .schedule-entry__estimate {
    flex: 0 0 40px;
  }
}


// Styling specific to the schedule editor
.scheduler .schedule-entry:not(.timeline-entry) {
  cursor: move;

  &:hover {
    opacity: 0.7;
  }
}
