.stream-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 16px;
  margin-top: 32px;
  font-size: 1rem;

  .stream {
    --border-size: 4px;
    color: $white-color;
    background-color: var(--color);
    border: var(--border-size) solid var(--color);
    border-radius: 4px;
    position: relative;
  }

  .stream__header {
    display: flex;
  }

  .stream__avatar {
    --avatar-size: 76px;
    border-top-left-radius: 2px;
    border-bottom: var(--border-size) solid var(--color);
    flex: 0 0 var(--avatar-size);
    height: var(--avatar-size);
    width: var(--avatar-size);
  }

  .stream__info {
    padding: 4px 8px;
    overflow: hidden;
  }

  .stream__runner {
    font-size: 1.3em;
    line-height: 1em;
    font-weight: 700;
  }

  .stream__game {
    display: block;
    font-size: 0.9em;
    font-weight: 700;
    line-height: 1em;
    margin-bottom: 4px;

    &::before {
      content: 'running ';
      font-weight: 400;
    }
  }

  .stream__title {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .stream__thumbnail {
    width: 100%;
    bottom: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}
