.teams-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 16px;

  .team {
    border: 2px solid var(--color);
    border-radius: 4px;
  }

  .team__header {
    background-color: var(--color);
    padding: 8px;
    color: $white-color;
  }

  .team__name {
    font-size: 1.6rem;
    font-weight: 700;
    display: block;
  }

  .team__captain {
    font-size: 1rem;
    font-weight: 700;

    &::before {
      content: 'Captain: ';
      font-weight: 400;
    }
  }

  .team__runs {
    padding: 4px 16px;
  }

  .runner {
    margin: 8px 0;

    .runner__name {
      display: block;
      font-weight: 700;
    }

    .runner__runs {
      color: $text-muted;
    }
  }
}
