$team-red: #d46060;
$team-orange: #df9753;
$team-yellow: #f0c566;
$team-green: #6fa56b;
$team-gray: #979c9f;
$team-blue: #56a3d8;
$team-purple: #8c5eac;
$team-pink: #dd8eb4;

@mixin team-listing($root-color) {
  .team-listing__name {
    color: $root-color;
    font-size: 1.4em;
    font-weight: 700;
  }
}
