$dark-gray: #323234;
$light-gray: #d8d8d9;
$white: #fcfcfd;
$purple: #75456C;
$red: #D64848;
$orange: #E26144;
$yellow: #f9dc59;

$brand-primary:     $dark-gray;
$brand-muted:       lighten($brand-primary, 30%);
$primary-bg-color:  $brand-primary;
$white-bg-color:    $white;

$white-color:       $white;
$border-color:      lighten($brand-primary, 45%);
$text-color:        $dark-gray;
$text-muted:        lighten(desaturate($text-color, 50%), 50%);

$navbar-color:          $white-color;
$navbar-bg-color:       darken($dark-gray,    5%);
$navbar-bg-hover-color: lighten($navbar-bg-color, 3%);
$navbar-border-color:   darken($navbar-bg-color,  5%);

$success: #5a9051;


$link-color: $red;








$team-red:    #b91717;
$team-orange: #f98126;
$team-yellow: #ecd505;
$team-green:  #22ad0b;
$team-blue:   #0f76c7;
$team-purple: #720fb9;

$spyro: #f3e0f7;
$crash: #fbdcc5;
$mario: #f7d8d8;
$rare:  #fdfdce;
