body {
  background-color: #f7f7f7;
  font-family: "skolar-sans-latin",sans-serif;
}

.container {
  background-color: #fff;
}

.navbar .container {
  background-color: inherit;
}

.team-members {
  list-style-type: none;
  padding-left: 20px;

  li { text-decoration: none; }
  li.captain {
    margin-left: -16px;
    &:before {
      font-family: FontAwesome;
      content: '\f006';
    }
  }
}

.team-table {
  .game-name {
    text-align: right;
    padding-right: 30px;
    width: 200px;
  }
}

$team-red:    #b91717;
$team-orange: #f98126;
$team-yellow: #ecd505;
$team-green:  #22ad0b;
$team-blue:   #0f76c7;
$team-purple: #720fb9;

.team-red     { color: $team-red; }
.team-orange  { color: $team-orange; }
.team-yellow  { color: $team-yellow; }
.team-green   { color: $team-green; }
.team-blue    { color: $team-blue; }
.team-purple  { color: $team-purple; }

$spyro: #9c27b0;
$crash: #ff7f3e;
$mario: #e43535;
$rare:  #fdfcd1;

.spyro { color: $spyro !important; }
.crash { color: $crash !important; }
.mario { color: $mario !important; }
.rare  { color: $rare  !important; }

.spyro-bg { background-color: lighten($spyro, 50%) !important; }
.crash-bg { background-color: lighten($crash, 30%) !important; }
.mario-bg { background-color: lighten($mario, 35%) !important; }
.rare-bg  { background-color: lighten($rare,   0%) !important; }

.true     { color: #66a569 !important; }
.false    { color: #ff0000 !important; }
.neutral  { color: #aaaaaa !important; }

.true-bg  { background-color: #cbead4 !important; }
.false-bg { background-color: #ffcbcb !important; }


.notice {
  font-style: italic;
  color: #777;
}
