$brand-primary:     #a0292f;
$brand-muted:       lighten($brand-primary, 30%);
$primary-bg-color:  $brand-primary;

$white-text-color:  lighten($brand-primary, 56%);
$text-color:        darken($brand-primary,  24%);
$text-muted:        lighten(desaturate($text-color, 50%), 60%);

$navbar-color:          $white-text-color;
$navbar-bg-color:       darken($brand-primary,    5%);
$navbar-bg-hover-color: lighten($navbar-bg-color, 3%);
$navbar-border-color:   darken($navbar-bg-color,  5%);


body {
  font-family: "skolar-sans-latin", sans-serif;
  color: $text-color;
  line-height: 1.4em;
  font-size: 16px;
}

a {
  color: $brand-muted;
  font-weight: 500;

  &:hover { color: darken($brand-muted, 10%); }
}


nav.navbar {
  background-color: $navbar-bg-color;
  border-color: $navbar-border-color;
  color: $navbar-color;

  .navbar-brand {
    color: $navbar-color;
    font-size: 20px;
    margin-top: -1px;
  }

  .navbar-nav,
  .navbar-nav li,
  .navbar-nav li a {
    font-size: 16px;
    color: $navbar-color;
  }

  .navbar-nav li:hover {
    background-color: $navbar-bg-hover-color;
    color: lighten($navbar-color, 10%);
  }

  & + div {
    margin-top: -20px;
  }
}


.titlebar {
  padding: 60px 0px;
  background-color: $primary-bg-color;
  color: $white-text-color;
  font-family: "proxima-nova", sans-serif;

  h1 {
    margin: 0 0 10px -4px;
    font-size: 120px;
    font-weight: 700;
    text-shadow:
      6px 4px 1px darken($brand-primary,  0%),
      14px 6px 1px darken($brand-primary, 10%);
  }

  p {
    font-size: 24px;
    text-shadow:
      4px 3px 1px darken($brand-primary,  0%),
      6px 4px 1px darken($brand-primary, 10%);

    &.lead {
      font-size: 36px;
      line-height: 1.3em;
      margin: 0;
    }
  }

  a {
    color: $white-text-color;
    font-weight: 900;
    margin: 0px 6px;
  }

  .no-header {
    margin-top: 20px;
  }
}


.page-header {
  font-family: "proxima-nova", sans-serif;

  h1 { font-weight: 700; }
}



ul.schedule {
  list-style-type: none;
  font-size: 20px;

  .event {
    text-decoration: none;
    margin-bottom: 8px;


    .event-date {
      display: inline-block;
      width: 70px;
      margin-right: 20px;
      text-align: right;
      color: $brand-muted;
      font-family: "proxima-nova", sans-serif;
      font-weight: 700;
    }

    &.past {
      color: $text-muted;

      .event-date { color: $text-muted; }
    }
  }
}


.team-members {
  list-style-type: none;
  padding-left: 20px;

  li { text-decoration: none; }
  li.captain {
    margin-left: -19px;
    &:before {
      font-family: FontAwesome;
      content: '\f006';
    }
  }
}

.team-table {
  .game-name {
    text-align: right;
    padding-right: 30px;
    width: 200px;
  }
}

$team-red:    #b91717;
$team-orange: #f98126;
$team-yellow: #ecd505;
$team-green:  #22ad0b;
$team-blue:   #0f76c7;
$team-purple: #720fb9;

.team-red     { color: $team-red; }
.team-orange  { color: $team-orange; }
.team-yellow  { color: $team-yellow; }
.team-green   { color: $team-green; }
.team-blue    { color: $team-blue; }
.team-purple  { color: $team-purple; }

$spyro: #9c27b0;
$crash: #ff7f3e;
$mario: #e43535;
$rare:  #fdfcd1;

.spyro { color: $spyro !important; }
.crash { color: $crash !important; }
.mario { color: $mario !important; }
.rare  { color: $rare  !important; }

.spyro-bg { background-color: lighten($spyro, 50%) !important; }
.crash-bg { background-color: lighten($crash, 30%) !important; }
.mario-bg { background-color: lighten($mario, 35%) !important; }
.rare-bg  { background-color: lighten($rare,   0%) !important; }

.true     { color: #66a569 !important; }
.false    { color: #ff0000 !important; }
.neutral  { color: #aaaaaa !important; }

.true-bg  { background-color: #cbead4 !important; }
.false-bg { background-color: #ffcbcb !important; }


.notice {
  font-style: italic;
  color: #777;
}
