@import "_variables.scss";
@import "_bootstrap_fixes.scss";
@import "_util.scss";
@import "_horsey.scss";

@import "_account-box.scss";
@import "_flash.scss";
@import "_nav.scss";
@import "_landing_page.scss";
@import "_teams.scss";
@import "_schedule.scss";
@import "_forms.scss";
@import "_hero-box.scss";
@import "_notif-banner.scss";
@import "_signups.scss";
@import "_scheduler.scss";
@import "_stream-status.scss";
@import "_team-editor.scss";
@import "_navbar-dropdown.scss";

@import "admin/_submissions.scss";


html {
  font-size: 14px;
}


body {
  font-family: "skolar-sans-latin", sans-serif;
  background-color: $white-bg-color;
  color: $text-color;
  line-height: 1.6em;
  font-size: 16px;
}

p {
  margin-bottom: 12px;
}

a {
  color: $link-color;
  font-weight: 500;

  &:hover {
    color: darken($link-color, 10%);

    &[data-brand="twitter"] { color: #00aced !important; }
    &[data-brand="twitch"] { color: #6441a4 !important; }
  }

  &.no-color {
    color: inherit;
    text-decoration-color: inherit;

    &:hover {
      color: inherit;
      text-decoration-color: inherit;
    }
  }

  &.unstyled {
    color: inherit;
    font-weight: inherit;
    text-decoration: none;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}

// Border rendering bug in Chrome shows borders on images with no source.
img[src=''],
img:not([src]) {
  opacity: 0;
}


.page-header {
  font-family: "proxima-nova", sans-serif;
  border-color: $red;

  h1 { font-weight: 700; color: $red; }

  &.colored {
    border: none;
    border-radius: 4px;
    background-color: var(--color, $red);
    padding: 0;
    color: $white-color;

    h1 {
      color: $white-color;
      margin: 0;
      padding: 16px;
    }
  }
}

h2, h3, h4 {
  // color: $red;
  font-weight: 700;
}


ul.schedule {
  list-style-type: none;
  font-size: 20px;

  .event {
    text-decoration: none;
    margin-bottom: 8px;


    .event-date {
      display: inline-block;
      width: 70px;
      margin-right: 20px;
      text-align: right;
      color: $brand-muted;
      font-family: "proxima-nova", sans-serif;
      font-weight: 700;
    }

    &.past {
      color: $text-muted;

      .event-date { color: $text-muted; }
    }
  }
}

footer {
  margin-top: 30px;
  padding: 18px 0;
  background-color: $light-gray;

  p, ul {
    margin: 0;
  }

  .pull-right {
    text-align: right;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      text-decoration: none;
      display: inline-block;
      margin-right: 20px;
    }
  }
}

.banner {
  margin-top: 20px;
}


.rankings {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .team {
    margin: 5px 0;
    font-size: 1.2em;

    .runners {
      display: block;
      font-size: 0.7em;
    }
  }
}

.notice {
  font-style: italic;
  color: #777;
}
