@import "_variables.scss";


// small desktop screen sizes, landscape tablets
@media (max-width: 991px) {
  .titlebar {
    h1 {
      font-size: 90px;
      text-shadow:
        3px 2px 1px darken($brand-primary,  0%),
        8px 4px 1px darken($brand-primary, 10%);
    }

    p.lead {
      font-size: 30px;
      text-shadow:
        2px 1px 1px darken($brand-primary,  0%),
        4px 2px 1px darken($brand-primary, 10%);
    }

    .right {
      margin-top: 11px;
    }
  }

  ul.schedule {
    padding-left: 10px;
  }
}

// Portrait tablet screens
@media (max-width: 767px) {
  .titlebar {
    .right {
      text-align: left;
    }
  }

  .schedule-box {
    display: flex;
    justify-content: space-around;

    ul.schedule {
      margin-left: -20px;
    }
  }
}


// Phone screens
@media (max-width: 479px) {
  .titlebar {
    h1 {
      font-size: 60px;
    }

    p.lead {
      font-size: 20px;
    }

    .right {
      margin-top: 11px;
    }
  }
}
