.container {
  box-sizing: border-box;
  border-bottom: 1px solid var(--primary);

  &:hover {
    background-color: var(--primary-bg-200);
  }

  &:first-child {
    border-top: 1px solid var(--primary);
  }

  &.editing {
    background-color: var(--primary-bg-200);
  }
}

.mainRow {
  display: flex;
  align-items: center;
  justify-content: stretch;
  width: 100%;
  height: 100%;
  padding: 8px;
  margin: 0 4px;
  box-sizing: border-box;
}

.index {
  padding-right: 16px;
}

.time {
  flex: 0 0 120px;
  margin-right: 8px;
}

.info {
  flex: 1 1 100%;
  margin-right: 8px;
}

.buttons {
  flex: 0 1 auto;
  float: right;
  margin: 0;
}

.form {
  box-sizing: border-box;
  width: 100%;
  padding: 16px;
}
